@charset "UTF-8";

#brown {
	
	color:brown;
	text-align:center;
}


.center{
	
	text-align:center;
}

.left {
	
	text-align:left;
}

.right {
	text-align:right;
}

body{
	
	background-color: #FCD0B4;
}

p.rojo{
	color:red;
}

p.marron{
	color:brown;
}